[Unit]
Description=Tracified Gateway service
After=network.target

[Service]
Type=simple
RestartSec=1
User={{ ansible_user }}
ExecStart=/home/{{ ansible_user }}/tracified-gateway/tracified-gateway

[Install]
WantedBy=multi-user.target